[submodule "lib/zepto"]
	path = lib/zepto
	url = https://github.com/madrobby/zepto.git
[submodule "lib/glsafecontext.js"]
	path = lib/glsafecontext.js
	url = git@github.com:RicoP/glsafecontext.js.git
